.title {
    text-align: left;
    padding-left: 30px;
    font-weight: 800;
}

h2 {
    color: red;
    font-weight: 800;
    text-decoration: underline solid red;
}

.article-container {
    height: auto;
    width: 800px;
    border: solid black 2px;
    margin: 40px 0 0 0;
    align-items: center;
    justify-content: center;
    margin: 0  auto;
    margin-top: 40px;
}

.all-articles-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h4 {
    color: black;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    width: max-content;
}

a:link {
    color: black;
}
a:visited {
    color: grey;
}

.author-container {
    text-align: center;
    justify-content: center;
}